body {
    background-color: #F1F1F1;
}

.nav-link {
    font-size: 14px;
    margin-right: 10px;
}

.data-diri {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 55px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.pp {
    border-radius: 1000px;
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ket {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ket2 {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
} 

.ket2 p {
    margin-right: 20px;
}



#form-data {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-left: 55px;
    margin-right: 55px;
    display: none;
}


#form-data div p {
    margin-bottom: -1px;
    margin-left: 9px;
}